<div id = "input_space"></div>
<div id = "input_buttons" style = "float:right">
<div class = "input_button"><div class="input_word">Send</div></div>
<div class = "input_button" style = "margin-top:15px;margin-bottom:15px"><div class="input_word">Save</div></div>
<div class = "input_button"><div class="input_word">Discard</div></div>
</div>
<textarea rows="17" cols="90"></textarea>
<div id = "property_button">
<div class = "property_word">COLOR</div>
</div>
