<div style="margin-right:30px;float:right">
	<%= link_to 'Settings', {:action => "settings"}, :class => 'menu_button', :id => "settings" %>
</div>
<div style="margin-right:30px;float:right">
	<%= link_to 'Draft Box', {:action => "draft"}, :class => 'menu_button', :id => "draft" %>
</div>
<div style="margin-right:30px;float:right">
	<%= link_to 'Sent Mail', {:action => "sent"}, :class => 'menu_button', :id => "sent" %>
</div>
<div style="margin-right:30px;float:right">
	<%= link_to 'Inbox/Compose New', {:action => "inbox"}, :class => 'menu_button', :id => "inbox" %>
</div>
