<div id = "message_title_<%= message_id %>" class = "message_title">
<div id = "<%= message_id %>_message_title_sender" class = "message_title_sender">mentoring.wcs.uiuc@gmail.com</div>
<div id = "<%= message_id %>_message_title_title" class = "message_title_title">FWD: Apple Picking Event</div>
<div class = "clr"></div>
</div>
