<script tyle="text/javascript">
$(document).ready(function(){
			$("#inbox").css("text-decoration", "underline");
		})
</script>
<div id = "menu_bar"><%= render "messages/menu_bar" %></div>
<div id = "input_box"><%= render "messages/input" %></div>
