<div id = "menu_bar"><%= render "messages/menu_bar" %></div>
<div id = "input_box"><%= render "messages/input" %></div>
<div id = "message_box"><%= render "messages/message", :message_id => 1 %></div>
