<script tyle="text/javascript">
	$(document).ready(function() {
		$("#sent").css("text-decoration", "underline");
	})
</script>
<div id = "menu_bar">
	<%= render "messages/menu_bar" %>
</div>
<h1>Messages#show</h1>
<p>
	Find me in app/views/messages/sent.html.erb
</p>
