/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
a:link {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */

body{
	background-color: #9EC618;

}
#content_wrapper {
	position: absolute;
	top: 0px;
	width: 800px;
    left: 50%;
    margin-left: -400px;
}
#body{
    padding-top: 50px;
    min-height: 600px;
	margin-top:-21px;
	background-color: #86AE00;
}
#footer{
    margin-top: -20px;
    text-align:center;
    color:white;
    background-color: #86AE00;
}
#main_menu{
    text-align: right;
    color:white;
    background-color: #86AE00;
    height: 70px;
}
a.menu_button{
 text-decoration:none
}
.web_title_inverse {
	padding-left:10px;
	padding-right:10px;
	color: white;
	background-color: #86AE00;
}
.clr
{
	clear: both;
}
