// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
    height: 330px;
    width: 630px;
    opacity: 0.8;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


.wcsbutton {
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dc618), color-stop(100%,#9dc618));
    background: -moz-linear-gradient(center top, #9dc618 0%, #9dc618 100%);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-shadow: 1px 1px 0px #242424;
    text-align: center;
    font-family: SF;
    font-size: 20px;
    line-height: 75px;
    color: #ffffff;
    width: 75px;
}
.wcsbutton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1d62d), color-stop(100%,#b1d62d));
    background: -moz-linear-gradient(center top, #b1d62d 0%, #b1d62d 100%);
}

.msgbox {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-align: center;
    font-family: SF;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    width: 230px;
}
.title {
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dc618), color-stop(100%,#9dc618));
    background: -moz-linear-gradient(center top, #9dc618 0%, #9dc618 100%);
}
.content {
    background: #ffffff;
    font-family: SF;
    font-size: 12px;
    height: auto;
    line-height: 30px;
    text-indent: 10px;  
    color: #000000;
    min-height: 250px;  
    text-align:left;
}
.para{
    margin-right: 10px;
    margin-left: 10px;
}
.title:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1d62d), color-stop(100%,#b1d62d));
    background: -moz-linear-gradient(center top, #b1d62d 0%, #b1d62d 100%);
}
