// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu_bar{
    color:white;
    background-color: #86AE00;
    height: 45px;
}
