Copyright University of Illinois at Urbana-Champaign. Women in Computer Science
<br>
<%= link_to 'About', about_path %> |
<a href="mailto:mentoring.wcs.uiuc@gmail.com?Subject=[WCS%20Mentoring]">Contact</a> |
<a href="https://wiki.engr.illinois.edu/display/wcs/Home">Main Site</a>