<div class="web_title" style="float:left">WCS</div>
<div class="web_title_inverse" style="float:left">MENTORING</div>
<div style="float:right">
    <% if current_user %>
        <%= link_to 'logout', logout_path %>
    <% else %>
        <%= link_to 'login', login_path %> |
	<%= link_to 'register', register_path %>
     <% end %>
</div>
<div class="clr"></div>
